################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/kit/v14/.suo
/Debug
/kit/Debug
/kit.VC.db
/kit.VC.VC.opendb
/kit/x64/Debug
/x64/Debug
/x64/Release
/x64/Release
/x64/Release/kit.lib
/.vs/kit/v15
/kit/x64/Release
/x64/Release
/x64/Release/kit.lib
/.vs/kit/v15
/.vs/kit/v15
/peer/x64/Debug
/peer/x64/Debug
