################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/kit/v14/.suo
/Debug
/kit/Debug
/kit.VC.db
/kit.VC.VC.opendb
